@import '_animations';
#wd-filters .filter-button {
  
  .filter-settings {

    width: 35rem;
    position:absolute;
    left:0;
    top:3.25rem;
    pointer-events: none;
    
    background-color: $background;
    border: $light-border;

    box-shadow: 0 5px 15px rgba(0,0,0,0.03);
    
    @include slide-down('stop', 1px);

    .filter-setting {
      display:flex; 
    }
  }

  &.active {
    .filter-settings{
      z-index: 2;
      display:block;
      @include slide-down('play',0px);
      pointer-events: all;
    }
  }
  
  .filter-footer{
    margin-top: 1rem;
    border-top:$light-border;
    padding:1rem;
  }
  .filter-setting{
    &:not(.filter-setting-select):first-child{
      margin-top:1rem;
    }
    input[type="checkbox"]{
      background-color: $background;
      width: 2em;
      margin:$control-margin 0 $control-margin $control-margin;
    }
    select{
      background-color: $background;
      padding: 0.5rem;
      border:none;
      margin:$control-margin 0 $control-margin $control-margin;
      color: rgba(var(--color-foreground), 0.75);
      letter-spacing: 0.06rem;
      font-family: var(--font-body-family);
      font-style: var(--font-body-style);
      font-weight: var(--font-body-weight);
      font-size: 1.4rem;
      text-align: right;
      cursor: pointer;
      padding: 0.5rem 0.5rem 0.5rem 1.25rem;
    }
    label{
      margin: $control-margin;
    }
    &.filter-setting-select{
      display: block;
      text-align: left;
      label{
        padding: 1rem;
      }
      label,select{
        margin:0;
        display: block;
        cursor: pointer;
        padding: 0.8rem 0.5rem 0.8rem 1.25rem;
        &:hover{
          color:black;
          background-color: rgb(var(--color-background));
        }
      }
    }
  } 

  .price-range{
    display: flex;
    margin: $control-margin;
    .field{
      margin: 0 $gap;
    }
  }
}